/* src/components/Sidebar.css */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-container.open {
  pointer-events: all;
  opacity: 1;
}

.sidebar-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: var(--primary-color); /* Themed primary color background */
  padding: 2rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar-container.open .sidebar-content {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: var(--background-color); /* Light color */
  opacity: 0.7;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar-nav {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: var(--background-color); /* Light color */
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebar-link:hover {
  background-color: var(--accent-color); /* Themed accent color on hover */
}

.logout-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}